body {
    background-color: greenyellow;
}

/*----- NAV BAR -----*/
nav {
    list-style-type: none;
    margin-left: 16px;
    margin-top: -11px;
    padding-top: 75px;
    margin-bottom: auto;
    width: 170px;
    background:none;
    height: 100%;
    position: fixed;
    overflow: auto;
    
}

li a {
    display: block;
    color: black;
    padding: 20px 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

li a:hover {
    background-color: red;
    color: white
}

li a:focus {
    background-color: red;
}

li a:active {
    background-color: red;
}

/*----- CONTENT BOX -----*/
.content {
    margin-left: 180px;
    margin-top: 50px;
    background-color: red;
    border-radius: 50px;
    margin-right: 50px;
    padding-bottom: 175px;
    vertical-align: middle;
}

#selfie img {
    border-radius: 60px;
    float: left;
    margin-left: 180px;
    margin-right: 25px;
    margin-top: 135px;
}

#intro h3 {
    margin-top: -14px;
}

#intro {
    padding-top: 135px;
    margin-right: 150px;
}

#intro ul {
    list-style: none;
}